:root {
  --colorP1: #333333;
  --colorP2: #555555;
  --colorP3: #777777;
  --colorP4: #888888;
  --colorP5: #999999;
  --colorP6: #aaaaaa;
  --colorP7: #dddddd;
  --colorP8: #eeeeee;
  --colorP9: #ffffff;
  --colorA1: #eb7d32;
  --colorA2: #f3af81;
  --colorA3: #fce0cc;
  --animation-duration: 150ms;
  --animation-timing-curve: ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100px;
  font-family: Arial, sans-serif;
  overflow: hidden;
  color: var(--colorP2);
  background-color: var(--colorP8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
}

.page-content {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*=======Title=======*/
.title {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  height: 60px;
  width: 100%;
  margin-left: 40px;
}

.title-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--colorP2);
}

.underline {
  background-color: var(--colorA2);
  height: 2px;
  width: 110%;
}

/*=======Command Row=======*/
.cmd-row {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cmd-button {
  display: flex;
  background-color: var(--colorP9);
  height: 40px;
  min-width: 125px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.cmd-button:hover {
  padding: 13px;
  transition: padding 50ms var(--animation-timing-curve);
  box-shadow: 3px 3px 5px rgba(235, 125, 50, 0.3);
}

.cmd-button-text {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*=======Search Bar=======*/
.search-container {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  width: 100%;
}

.search-subcontainer {
  display: flex;
  max-width: 250px;
  background-color: var(--colorP9);
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.search-container button {
  float: left;
  height: 100%;
  width: 40px;
  border-radius: 10px;
  background: var(--colorP6);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: var(--colorA2);
}

.search-container input[type="text"] {
  float: right;
  height: 100%;
  width: 100%;
  padding: 6px;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  color: var(--colorP3);
}

.search-icon {
  height: 25px;
  width: 25px;
}

/*=======Main Table=======*/
.main-table-container {
  display: flex;
  margin: auto;
  height: 100%;
  min-width: 750px;
  max-width: 1500px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.table-background{
  max-height: 85vh;
  padding: 20px;
  padding-right: 0px;
  padding-bottom: 60px;
  background-color: var(--colorP7);
  border-radius: 20px;
}

.table-content{
  padding-right: 20px;
  margin-bottom: 0px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.table-content::-webkit-scrollbar {
  width: 11px;
}

.table-content::-webkit-scrollbar-thumb {
  background-color: var(--colorP6);
  border-radius: 5px;
}

.table,
th,
td {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--colorP9);
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.headings,
.policy {
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
}

.heading {
  flex-basis: 33.333%;
  font-weight: bold;
  color: var(--colorP2);
}

.policy {
  border-radius: 10px;
  background-color: var(--colorP9);
  margin-bottom: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: var(--colorP3);
  transition: padding 100ms var(--animation-timing-curve);
}

.policy:hover {
  padding: 20px;
  font-weight: bold;
  transition: padding 100ms var(--animation-timing-curve);
  box-shadow: 3px 3px 5px rgba(235, 125, 50, 0.3);
}

span {
  flex-basis: 33.333%;
}

/*=======Legend=======*/
.legend-button{ 
  position: absolute;
  bottom: 50px;
  right: 50px;
  height: 65px;
  width: 65px;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--colorP6);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.legend-button:hover{
  background-color: var(--colorA2);
}

/*=======Sidebar=======*/
.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100vh;
  width: 80px;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  background-color: var(--colorP3);
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
}

.sidebar.open {
  width: 300px;
}

/*=======Sidebar Scroll=======*/
.middle-sidebar::-webkit-scrollbar {
  width: 7px;
}

.middle-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--colorA1);
  border-radius: 3px;
}

/*=======Sidebar Header=======*/
.top-sidebar {
  display: flex;
  background-color: var(--colorP1);
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.top-sidebar .logo-text {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 2rem;
  color: var(--colorP9);
  background-color: transparent;
}

.top-sidebar span {
  color: var(--colorA1);
  display: flex;
  position: relative;
  font-size: 1.4rem;
  width: fit-content;
  left: 90px;
  top: -8px;
}

.top-sidebar .sidebar-icon {
  max-width: 80px;
  max-height: 80px;
}

/*=======Sidebar Rows=======*/
.middle-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none !important;
}

.middle-sidebar .sidebar-icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 20px;
  object-fit: contain;
}

.middle-sidebar .sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  position: relative;
}

.middle-sidebar .sidebar-list-item {
  width: 100%;
  position: relative;
  flex-grow: 1;
  padding: 5px;
  border-radius: 20px;
}

.middle-sidebar .sidebar-list-item .category-text {
  white-space: nowrap;
  color: var(--colorP9);
  position: relative;
  left: 10px;
}

.middle-sidebar .sidebar-list-item:hover {
  background-color: var(--colorP4);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.middle-sidebar .sidebar-list-item.selected {
  border-radius: 20px;
  background-color: var(--colorP6);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.3);
}

/*.middle-sidebar
.sidebar-list-item.selected::before {
    content: "";
    background-color: var(--accent-1);
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute;
}*/

.middle-sidebar .sidebar-list-item .sidebar-helper {
  max-height: 20px;
  max-width: 20px;
  display: inline-block;
  position: absolute;
  right: 0.6rem;
  filter: invert(100%);
  background-color: var(--colorA1);
}

.middle-sidebar .sidebar-link {
  display: flex;
  width: 100%;
  text-decoration: none;
  align-items: center;
  color: var(--colorP9);
}

.middle-sidebar .sidebar-link:hover {
  font-weight: bold;
}

.sidebar .middle-sidebar .sidebar-category {
  display: none;
}

.sidebar.open .middle-sidebar .sidebar-list-item.selected + .sidebar-category {
  display: flex;
  cursor: pointer;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background-color: transparent;
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
  opacity: 1;
  height: auto;
  width: max-content;
}

/*=======Sidebar List=======*/
details,
summary,
p {
  display: block;
  white-space: nowrap;
  border-radius: 20px;
  /*padding-top: 50px;
    margin-top: -30px;*/
  background-color: transparent;
  color: var(--colorP9);
}

details:hover,
summary:hover,
p:hover {
  background-color: var(--colorP4);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

summary {
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  background-color: transparent;
}

li {
  margin-bottom: 5px;
}

summary::before {
  content: "⮞";
  margin-right: 5px;
  display: inline-block;
}

/* Rotate the icon for the open state */
details[open] summary::before {
  content: "⮟";
  margin-right: 5px;
  display: inline-block;
}
